*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utility */
.flex{
    display: flex;
}
li{
    list-style-type: none;
}
.border{
    border: 2px dashed black;

}
a{
    text-decoration: none;
}

/* header */

.header-page{
    background-color: white;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    
    align-items: center;
}
.header-left{
   flex-basis: 30%;
    width: 100%;
    align-items: center;
    
}
.header-right{
    flex-basis: 25%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.header-left>img{
    height: 30px;
}
nav{
    width: 100%;
    padding: 20px;
}
.ul-header{
    width: 100%;
    
    justify-content: space-between;
}


/* main */
.title{
    background-color: #B4D0E7;
    margin: auto;
    padding-top: 150px;
    height: 600px;
}
.title-main{
    width: 1000px;
    margin: auto;

    
}
.block-title{
    width: 1000px;
    margin: auto;
    height: 400px;
    justify-content: center;

}
.block-title-left{
    flex-basis: 30%;
}

.block-title-right{
    flex-basis: 70%;
}