*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    
}
/* utility */
.flex{
    display: flex;
}
li{
    list-style-type: none;
}
.border{
    border: 2px dashed black;

}
.border-white{
    border: 2px dashed white;
}
a{
    text-decoration: none;
    padding: 10px;
    
}
h1{
    font-size: 60px;
}
/* header */

.header-page{
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 1;
}
.header-left{
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-start;
    
}
.header-right{
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-end;
 }


.ul-header a{
    color: #828282;
    align-items: center;
    
}
.ul-header{
    align-items: center;
}
.header-left>img{
    height: 30px;
}


#btm-blue{
    background-color: #0F60FF;
    color: white;
    padding: 5px 10px;
    
}
.title{
    
    background-color: #B4D0E7;
    margin: auto;
    padding-top: 150px;
    max-height: 700px;
    
}
.title-header{
    width: 1000px;
    margin: auto;
    padding-bottom: 30px;

    
}
.block-title{
    width: 1000px;
    margin: auto;
    height: 400px;
    justify-content: center;

}
.block-title-left > h5{
    padding: 30px 0px;
    font-size:small
}
.block-title-left i{
    margin-top: 30px;
}
.block-title-left{
    flex-basis: 30%;
}

.block-title-right{
    flex-basis: 70%;
    position: relative;
}
.block-title-right > img{
    display: block;
    max-width: 100%;
    position: absolute;
    height: 400px;
    top: 30px;
    
}
/* main */



/* cards */
main{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.cards{
    min-height: 800px;
}
.title-cards{
    
    height: 150px;
    margin-top: 80px;
}
.main-card{
    justify-content: space-around;
    
    
}
.long-card{
    display: flex;
    flex-basis: 30%;
    height: 600px;
}
.long-card-top{
    height: 40px;
    width: 100%;
}
.big-card{
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

/* partner dropbox */
.partner-db{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.img-person{
    flex-basis: 60%;
}
.img-description{
    flex-basis: 40%;
}

/* db buisness */
.db-buisness{
    margin-top: 100px;
    width: 100%;
    
    flex-direction: column;
}
.buisness-title{
    width: 100%;
    height: 80px;
}
.buisness-cards{
    
    height: 100%;
    
    justify-content: center;
    flex-wrap: wrap;
}
.bness-card{
    margin-top: 20px;
    padding: 10px;
    height: 400px;
    flex-wrap: wrap;
    flex-basis: 33%;
    
    
}

/* team-box */
.team-box{
    padding-top: 30px;
    margin-top: 100px;
    width: 100%;
    height: 300px;
}
/* footer */
footer{
    margin-top: 100px;
}
/* big box */
.big-box{
    width: 100%;
    height: 500px;
    

}
.box{
    flex-basis: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
}
.img-box{
    width: 50%;
    height: 50%;
}

/* testfree */
.test-free{
    width: 100%;
    height: 300px;
    
}
.text-free{
    height: 100%;
    flex-basis: 50%;
    justify-content: flex-end;
}
.bottom-free{
    height: 100%;

    flex-basis: 50%;

}


/* question */

.question{
    width: 60%;
    margin: auto;
    height: 500px;
    flex-direction: column;
    margin-bottom: 100px;
}
.title-quest{
    width: 100%;
    margin-top: 100px;
    height: 100px;
}
.main-question{
    width: 100%;
    height: 100px;
}

/* black footer */

.footer-black{
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    position: relative;

}
.link-footer{
    width: 200px;
    margin-top: 80px;
    height: 300px;
    flex-direction: column;
    
}
.language{
    height: 100px;
    width: 200px;
    margin: auto;
    background-color: black;
    position: absolute;
    left: 210px;
    bottom: 10px;
}